<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="3.0.0" manuallyInstalled="true" />
  <package id="Humanizer.Core" version="2.14.1" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.9" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" />
  <package id="Newtonsoft.Json" version="13.0.4" manuallyInstalled="true" />
  <package id="QuikGraph" version="2.5.0" manuallyInstalled="true" />
  <package id="QuikGraph.Graphviz" version="2.5.0" manuallyInstalled="true" />
  <package id="StringExtensions" version="1.1.1" manuallyInstalled="true" />
  <package id="SuperLinq" version="6.4.0" manuallyInstalled="true" />
  <package id="SuperLinq.Async" version="6.4.0" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="9.0.9" manuallyInstalled="true" />
  <package id="System.IO.Pipelines" version="9.0.9" />
  <package id="System.Linq.Async" version="6.0.1" />
  <package id="System.Reactive" version="6.1.0" manuallyInstalled="true" />
  <package id="System.Text.Encodings.Web" version="9.0.9" />
  <package id="System.Text.Json" version="9.0.9" />
  <package id="ZLinq" version="1.5.3" manuallyInstalled="true" />
  <package id="ZLinq.FileSystem" version="1.5.3" manuallyInstalled="true" />
  <package id="ZLinq.Json" version="1.5.3" manuallyInstalled="true" />
  <package id="ZString" version="2.6.0" manuallyInstalled="true" />
</packages>